<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="AWSAccessKey" value="xxx" />
    <add key="AWSSecretKey" value="xxx" />
    <add key="AWSIoTEndPoint" value="xxx.iot.ap-northeast-1.amazonaws.com" />
    <add key="AWSIoTTopic" value="xxx" />
    <add key="ProxyHost" value="xxx" />
    <add key="ProxyPort" value="99999" />
    <add key="ProxyUser" value="xxx" />
    <add key="ProxyPassword" value="xxx" />
  </appSettings>
</configuration>